{% if not page.meta.nocomments %}
<h2 class="comments-title">评论</h2>
<div id="twikoo"></div>
<script>
  // 初始化Twikoo
  (function() {
    var twikooScript = document.createElement('script');
    twikooScript.src = 'https://cdn.jsdelivr.net/npm/twikoo@1.6.44/dist/twikoo.all.min.js';
    twikooScript.async = true;
    document.body.appendChild(twikooScript);
    
    twikooScript.onload = function() {
      twikoo.init({
        envId: 'https://twikoo-xy.dudu7615.dpdns.org',
        el: '#twikoo',
        region: 'ap-shanghai',
        emoji: true,
        lang: 'zh-CN'
      });
    };
  })();
</script>
{% endif %}